body {
  background-image: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-color: hsl(257, 40%, 49%);
}

h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin: 0 0 20px 0;
  display: inline-block;
  color: white;
  width: 45%;
  line-height: 1.5;
}

h3 {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: hsl(257, 40%, 49%);
  margin: 0;
}

p {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  display: inline-block;
  color: #F5F5F5;
  width: 48%;
  line-height: 1.25;
}

a {
  color: #ffffff;
}

/*******************CLASS SELECTORS*******************/

.logo {
  padding-top: 50px;
  padding-left: 50px;
}

.page {
  padding-top: 110px;
  padding-left: 50px;
  display: inline-flex;
  flex-wrap: nowrap;
}

.illustraion {
  flex-grow: 2;
  flex-shrink: 2;
}

.text {
  padding-top: 50px;
  padding-left: 75px;
  flex-grow: 2;
  flex-shrink: 2;
}

.button {
  margin-top: 25px;
  box-shadow: 2px 2px #d3d3d3;
  border-radius: 25px;
  display: inline-block;
  background-color: white;
  padding: 10px 60px 10px 60px;
}

.button:hover {
  margin: 10px;
  cursor: pointer;
  padding: 15px 65px 15px 65px;
  background-color: #000000;
}

.social-icons {
  margin-right: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.fab {
  filter: invert(99%) sepia(7%) saturate(180%) hue-rotate(216deg) brightness(113%) contrast(100%);
  padding: 15px;
}

.fab:hover {
  cursor: pointer;
}

/**************************************************/

@media screen and (max-width: 1200px) {
  h1 {
    padding: 0;
    width: auto;
  }

  p {
    padding: 0;
    width: auto;
  }

  .illustraion {
    align-self: center;
  }

  .page {
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 0;
  }

  .text {
    text-align: center;
  }


  .social-icons {
    margin: 25px 0 0 70px;
    justify-content: center;
  }
}

/**************************************************/

@media screen and (max-width: 700px) {
  .img {
    max-width: 400px;
  }

  .img-logo {
    max-width: 200px;
  }
}
